{% extends 'base2.html.twig' %}

{% block title %}Edit Reponses{% endblock %}

{% block body %}
    <h1>Edit Reponses</h1>

    {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reponse_index') }}">back to list</a>


{% endblock %}