{% extends 'base2.html.twig' %}

{% block title %}Modifier Role{% endblock %}

{% block body %}
    <h1>Modifier Role</h1>

    {{ include('categorie_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_user_index') }}">List</a>

    {{ include('categorie_user/_delete_form.html.twig') }}
{% endblock %}
