{% extends 'base2.html.twig' %}

{% block title %}Nouveau Role{% endblock %}

{% block body %}
    <h1>Créer nouveau Role</h1>

    {{ include('categorie_user/_form.html.twig') }}

    <a href="{{ path('app_categorie_user_index') }}">List</a>
{% endblock %}
