{% extends 'base.html.twig' %}

{% block title %}New CategorieUser{% endblock %}

{% block body %}
    <h1>Create new CategorieUser</h1>

    {{ include('categorie_user/_form.html.twig') }}

    <a href="{{ path('app_categorie_user_index') }}">back to list</a>
{% endblock %}
