{% extends 'base2.html.twig' %}

{% block title %}Edit Salle{% endblock %}

{% block body %}
    <h1>Modifier Salle</h1>

    {{ include('salle/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_salle_index') }}">
    <button class="btn btn-success m-2  " type= "button">Revenir en arriere</button></a>
    
    
{% endblock %}
