{% extends 'base2.html.twig' %}

{% block title %}Nouveau Utilisateur{% endblock %}

{% block body %}
    <h1>Créer nouveau Utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Liste</a>
{% endblock %}
